body {
    font-size: 62.5%;
}

h1 {
    font-size: 2.4em;
}


/* =24px */

p {
    font-size: 1.4em;
}


/* =14px */

li {
    font-size: 1.4em;
}


/* =14px? */

.num {
    background-color: #14CC96;
}

.fizz {
    background-color: cyan;
}

.buzz {
    background-color: yellow;
}

.fizz-buzz {
    background-color: GreenYellow ;
}

.num, .fizz, .buzz, .fizz-buzz {
    width: 50px;
    height: 50px;
    box-shadow: inset 0 2px white, inset 0 -2px #bbb, inset 2px 0 #d7d7d7, inset -2px 0 #d7d7d7;
    border-radius: 20%;
    border: 1px gray;
    border-style: solid;;
    font-size: 1.1em;
    font-weight: 400;
    text-align: center;


    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

#info {
    width: 800px;
    text-align: center;
}

#container {
    width: 400px;
}

#container, #info {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
