# Created by .ignore support plugin (hsz.mobi)

*.xml
/.DS_Store
/node_modules
/index.html
/css/.DS_Store
/javascripts
/images/bg_hr.png
/images/bg-ramp.jpg
/images/blacktocat.png
/images/blockquote-gfx-2x.png
/images/blockquote-gfx.png
/images/chevron-2x.png
/images/chevron.png
/images/download-fallback-bg.png
/images/download-sprite.png
/images/footer-ramp.jpg
/images/fork-sprite.png
/images/hr-2x.jpg
/images/hr.jpg
/images/icon_download.png
/images/octocat-2x.png
/images/octocat.png
/images/ribbon-tail-sprite-2x.png
/images/ribbon-tail-sprite.png
/images/shield-fallback.png
/images/shield.png
/images/site-2.png
/images/small-ribbon-tail-sprite-2x.png
/images/small-ribbon-tail-sprite.png
/images/sprite_download.png
/fonts/opensans-bold-webfont.eot
/fonts/opensans-bold-webfont.svg
/fonts/opensans-bold-webfont.ttf
/fonts/opensans-bold-webfont.woff
/fonts/opensans-bolditalic-webfont.eot
/fonts/opensans-bolditalic-webfont.svg
/fonts/opensans-bolditalic-webfont.ttf
/fonts/opensans-bolditalic-webfont.woff
/fonts/opensans-extrabold-webfont.eot
/fonts/opensans-extrabold-webfont.svg
/fonts/opensans-extrabold-webfont.ttf
/fonts/opensans-extrabold-webfont.woff
/fonts/opensans-italic-webfont.eot
/fonts/opensans-italic-webfont.svg
/fonts/opensans-italic-webfont.ttf
/fonts/opensans-italic-webfont.woff
/fonts/opensans-regular-webfont.eot
/fonts/opensans-regular-webfont.svg
/fonts/opensans-regular-webfont.ttf
/fonts/opensans-regular-webfont.woff
