myscss.scss.num {
	background-color:white;
	width: 100px;
}

.fizz {
	background-color:green;
	width: 200px;
}

.buzz {
	background-color:yellow;
	width: 200px;
}

.fizz-buzz {
	background-color:red;
	width: 400px;
}